/* Normal CSS of objects below */

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.container{
    background: aqua;
}

.sky, .road, .underground{
    position: relative;
}

.sky{
    background: aqua;
    height: 85%;
    left: 800px;
    right: 2000px;
}

.sky:hover{
    animation-name: movement;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

.cloud:nth-child(1){
    top: 120px;
    width: 200px;
    opacity: 0.75;
    animation: clouds 80s linear infinite reverse;
}

.cloud:nth-child(2){
    top: 80px;
    width: 500px;
    animation: clouds 30s linear infinite reverse;
}

.cloud:nth-child(3){
    top: 200px;
    width: 900px;
    opacity: 0.70;
    animation: clouds 50s linear infinite reverse;
}

.car{
    position: absolute;
    top: -300px;
    right: 800px;
    transform: scale(0.5, 0.5);
    animation: carDrop 2s linear;
}

.tree{
    position: absolute;
    transform: scale(1, 1);
    right: 1800px;
    bottom: -10px;
}

.billboard{
    position: absolute;
    top: 100px;
    left: -300px;
}

.bench{
    position: absolute;
    top: 215px;
    left: 300px;
    transform: scale(0.25, 0.25);
}

.building{
    position: absolute;
    top: 100px;
    left: 1000px;
    transform: scale(2, 2);
}

.forest{
    position: absolute;
    top: 100px;
    left: 2000px;
}

.road{
    background: grey;
    height: 3%;
    width: 100%;
}

.underground{
    background: burlywood;
    height: 13%;
    width: 100%;
}

/* Animation CSS Below */

@keyframes carDrop{
    0%{
        top: -1500px;
    }
    50%{
        bottom: 15px;
    }

    70%{
        top: -250px;
    }

    100%{
        bottom: 15px;
    }
}

@keyframes clouds{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(1000px);
    }
}

@keyframes movement{
    from{
        transform: translateX(200px);
    }
    to{
        transform: translateX(-3000px);
    }
}
