html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.grass, .sky, .road{
    position: relative;
}

.sky{
    background: skyblue;
    height: 40%;
}

.cloud:nth-child(1){
    width: 100px;
    top: 120px;
    opacity: 0.5;
    animation: cloud 40s infinite linear reverse;
}

.cloud:nth-child(2){
    width: 300px;
    top: 0px;
    opacity: 1;
    animation: cloud 60s infinite linear reverse;
}

.cloud:nth-child(3){
    width: 200px;
    top: 50px;
    opacity: 0.25;
    animation: cloud 80s infinite linear reverse;
}

.grass{
    background: green;
    height: 30%;
}

.road{
    background: grey;
    height: 30%;
    width: 100%;
    box-sizing: border-box;
    border-top: 10px solid dimgrey;
    border-bottom: 10px solid dimgrey;
    /*animation: drive infinite linear;*/
}

.line{
    border: 5px dashed white;
    width: 100%;
    top: 45%;
    position: absolute;
}

.mario{
    position: absolute;
    top: -60px;
}

.mario:hover{
    animation: drive 10s backwards infinite linear;
}

@keyframes drive{
    from{
        transform: translateX(0px); 
    }
    to{
        transform: translateX(1000px);
    }
}

@keyframes cloud{
    from{
        transform: translateX(-300);
    }
    to{
        transform: translateX(100%);
    }
}