html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

/* Normal CSS of objects below */

.sky, .road, .underground{
    position: relative;
}

.sky{
    background: aqua;
    height: 85%;
    width: 100%;
}

.cloud:nth-child(1){
    top: 120px;
    width: 200px;
    opacity: 0.75;
    animation: clouds 80s linear infinite reverse;
}

.cloud:nth-child(2){
    top: 80px;
    width: 500px;
    animation: clouds 30s linear infinite reverse;
}

.cloud:nth-child(3){
    top: 200px;
    width: 900px;
    opacity: 0.70;
    animation: clouds 50s linear infinite reverse;
}

.mario{
    position: absolute;
    bottom: 15px;
    left: 150px;
    animation: marioDrop 1s linear;
}

.billboard{
    position: absolute;
    bottom: 16px;
    left: 400px;
}

.road{
    background: grey;
    height: 3%;
    width: 100%;
}

.underground{
    background: burlywood;
    height: 13%;
    width: 100%;
}

/* Animation CSS Below */

@keyframes marioDrop{
    0%{
        top: -600px;
    }
    50%{
        bottom: 15px;
    }

    70%{
        top: -120px;
    }

    100%{
        bottom: 15px;
    }
}

@keyframes clouds{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(1000px);
    }
}
